name: Deploy Portfolio to Firebase Hosting

on:
  push:
    branches:
      - main  # deploy on pushes to main branch

jobs:
  build_and_deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 18

      - run: npm install
      - run: npm run build

      - name: Deploy to Firebase
        uses: FirebaseExtended/action-hosting-deploy@v0
        with:
          repoToken: "${{ secrets.GITHUB_TOKEN }}"
          firebaseServiceAccount: "${{ secrets.FIREBASE_SERVICE_ACCOUNT }}"
          channelId: live
          projectId: aditya-dave-portfolio
          # Add this line with the path to the directory containing firebase.json
          # For most projects, this is the root, but if your firebase.json is in a subfolder, specify it here.
          target: './'
